@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body{
    margin: 0;
    background-color: #080C20;
    color: white;
    overflow-x: hidden;
}
h1{
    font-size: 2.8em;
}

h1 span{
    color:#3EE9E5;
}

p{
    opacity:0.6;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding:4em;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;

}
.banner {
    display: flex;
    justify-content: space-between;
    

}
#right{
    position: absolute;
    right: -100px;
    
}

#left{
    position: absolute;
    left:-100px;
}
.banner_content {
    width:40%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    text-align:center;
    background-image: url('../assets/bg-hero-squiggle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.banner_content p{
    margin-bottom:  60px;
}
.main{
    width: 100%;
    padding:10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.info{
    margin: 40px 0;
}
.features{
    display: flex;
    justify-content:space-around;
}
.features div{
    width: 250px;
}
.features div:nth-child(even){
    margin-top:  70px;
}
.illustration{
    background-color:#093F68 ;
    border-radius: 20px;
    max-width: 125px;
    max-height: 135px;
    box-sizing: border-box;
    padding:20px;
    text-align: center;

}
.pricing{
    display: flex;
    margin:40px 0;
}
.card {
    background-color:grey;
    width:400px;
    height:auto;
    padding:30px;
    box-sizing: border-box;
    position: relative;
    border: radius 10px;
}
.card h2{
    font-size: 2.5em;
}
.card h2 span{
    font-weight:100;
    font-size: .5em;
    opacity: .6;
}
.card #icon{
    position: absolute;
    top:-22px;
}
ul{
    list-style-type: none;
}
li{
    margin:2px 0;
}
.check{
    position: absolute;
    left: 30px;
    margin-top: 5px;
}
#free{
    background-color:#093F68;

}
#free .check{
    color:#3EE9E5;

}
#paid{
    background-color:#3EE9E5;
    color:black;
    margin-left: 30px;;
    transition:scale(1.1);
}
#paid #icon{
    top:-35px;
}
.footer{
    padding:5%;
    width:100%;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-image: url('../assets/bg-footer-squiggle.svg');

}
.footer  div{
    display: flex;
}
.footer #input_container{
    display:flex;
    flex-direction: column;
}
#error{
    visibility:hidden;
}

.footer input{
    outline: none;
    border: none;
    background-color: #093f68;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 30px;
}


.footer button{
    background-color:#3EE9E5;
    color: #080C20;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 30px;
    margin-left: 10px;
    height:  40px;;

}
::placeholder{
    color: rgba(255,255,255,0.3);
}
